body {
    background-image: url("https://image.freepik.com/fotos-gratis/pequenas-flores-brancas-em-flor-no-fundo-rosa_23-2147752460.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 }
.proyecto1{
    width: fit-content;
    background: white;
    display:block;
}
p{
    margin-left: 2rem;
}
.date{
    float: right;
    margin-right: 2rem;
}
.proyecto2{
    width: fit-content;
    background: white;
    display:block;
}
.proyecto3{
    width: fit-content;
    background: white;
    display:block;
}
#viaje{
    width: 343px;
}
#laberinto{
    width: 343px;
}

.todo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 7rem;
    margin-left: 4rem;
}
.todo div{
    border-radius: 20px;
}

#container {
    width: 100%;
    height: 700px;
    -webkit-perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
    -webkit-perspective-origin: 50% 225px;
  }
  #stage {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 2s;
    -webkit-transform-style: preserve-3d;
  }
  
  #shape {
    position: relative;
    top: 160px;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    -webkit-transform-style: preserve-3d;
  }
  
  .plane {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    -webkit-border-radius: 12px;
    -webkit-box-sizing: border-box;
    text-align: center;
    font-family: Times, serif;
    font-size: 124pt;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: -webkit-transform 2s, opacity 2s;
    -webkit-backface-visibility: hidden;
  }

  #shape.backfaces .plane {
    -webkit-backface-visibility: visible;
  }
  
  #shape {
    -webkit-animation: spin 8s infinite linear;
  }

  @-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  .cube > .one {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
  }

  .cube > .two {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
  }

  .cube > .three {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
  }

  .cube > .four {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
  }

  .cube > .five {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
  }

  .cube > .six {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
  }


  .cube > .seven {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
  }

  .cube > .eight {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
  }

  .cube > .nine {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
  }

  .cube > .ten {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
  }

  .cube > .eleven {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
  }

  .cube > .twelve {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
  }

 